body {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #1A1A1A;
}


/* Section 1 */
.section1 {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.section1, .footer {
    background-color: #B6771D;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.logo {
    font-weight: bold;
    margin-right: auto;
}

.content {
    text-align: left;
    display: flex;
    gap: 16px;
}

.content div{
    margin-right: auto;
}

.section1 img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}


/* Section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;
}

.section2, .section4 {
    background-color: #FFCF71;
}
.card {
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.cards {
    display: flex;
    gap: 16px;
}


/* Section 3 */
.section3 {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF9D00;
}

p, h3 {
    margin: 0;
}

.author {
    font-style: italic;
    text-align: right;
    font-weight: bold;
    margin-left: 120px;
}


/* Section 4 */
.section4 {
    padding: 40px 140px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: #7B542F;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 16px;
}

button{
    background-color: #7B542F;
}