body {
    display: flex;
    flex-direction: column;
    padding: 0;
}


/* Section 1 */
.section1 {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    padding: 40px 80px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.logo {
    font-weight: bold;
    margin-right: auto;
}

.content {
    text-align: left;
    display: flex;
    gap: 16px;
}

.content div{
    margin-right: auto;
}

.section1 img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}


/* Section 2 */
.section2 {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;
}

.card {
    /* border: 1px solid gray; */
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.cards {
    display: flex;
    gap: 16px;
}


/* Section 3 */
.section3 {
    border: 2px solid red;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h3 {
    margin: 0;
}

.author {
    font-style: italic;
    text-align: right;
    font-weight: bold;
    margin-left: 120px;
}


/* Section 4 */
.section4 {
    padding: 40px 140px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    border: 2px solid purple;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 16px;
    border: 2px solid orange;
}