body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    padding: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.logo {
    font-weight: bold;
    margin-right: auto;
}

.content {
    text-align: left;
    display: flex;
    gap: 16px;
}

img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}